@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato&family=Roboto&family=Sofia&display=swap');


:root{
	--primary-color:#45ccb8;
	--light-gray:#2b3032a1;
	--border:#2b303218;
	--text-color:#ff686b;
	--roboto:"Roboto",sans-serif;
	--gugi:"Gugi",cursive;
	--sofia:"Sofia",cursive;
}

.primary-color{
	color: var(--primary-color);
}

header{
	color:#007bff;
}